python-dotenv
streamlit
streamlit_echarts
lxml
pandas
numpy
langchain
python-dotenv
openai
tabulate
langchain_experimental
langchain_community
akshare
watchdog
langchain_openai
loguru
plotly
pyodbc
langchain==0.2.0
dashscope
tiktoken
pydantic
psycopg2-binary
fuzzywuzzy
jieba
sqlalchemy
flask
langgraph
pygraphviz